{% extends 'base.html' %}

{% block alers %}
    {% if request.method == 'POST' %}
        <div class="alert alert-success" role="alert">
            Изменения успешно сохранены!
        </div>
    {% endif %}
{% endblock alers %}

{% block pagename %}
    <h5 class="card-title">Изменить содержимое кнопок</h5>
{% endblock pagename %}

{% block tbody %}


<form action="{{ url_for('stats.edit_items') }}" method="post" style="padding-left: 20px;">
    {% for item in items %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ item.btn_name }}</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="btntext" rows="10">{{ item.btn_text }}</textarea>
            </div>
        </div>
    {% endfor %}
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>
</form>

{% endblock tbody %}